.block-our-services {
    padding: 60px 0px;
    border-bottom: 100px solid $color-four;
    background-color: $color-five;

    // Breakpoints
    @include respond-to($phone) {
        border-bottom: 10px solid $color-four;
    }

    @include respond-to($phone-tablet) {
        border-bottom: 10px solid $color-four;
    }

    @include respond-to($tablet-medium) {
        border-bottom: 10px solid $color-four;
    }

    @include respond-to($medium-large) {
        border-bottom: 10px solid $color-four;
    }

    p {
        margin-bottom: 30px;
    }
}